# NewsData.io API key to search for news articles, free key at: https://newsdata.io/
NEWSDATA_API_KEY=pub_your_api_key_here

# Github Models Token
GITHUB_TOKEN=github_pat_your_token_here

# Github Copilot Token
COPILOT_GH_TOKEN=ghu_your_token_here

# DeepEval / Confident AI API Key
CONFIDENT_API_KEY=confident_eu_your_token_here
