# Python libraries
# For GitHub Models
azure-ai-inference

# For copilot_api
openai

# For premier_agent_ia
langgraph
langchain-ollama


# For deuxieme_agent_ia.py and traduction_fr_eng.py
requests

# For agent_stock_mcp.py and mcp_server_stock.py
fastmcp
langchain
langchain-openai
langchain-core
langchain-mcp-adapters
yfinance

# For tests
pytest